@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  --gradient-blue: linear-gradient(to bottom, #6c92c7, #1d3557);
  --gradient-white: linear-gradient(to right, #ffffff, #f8f8f8);
}

html {
  background-image: var(--gradient-white);
  background-attachment: fixed;
}

@theme {
  --font-montserrat: "Montserrat", sans-serif;
  --font-inter: "Inter", sans-serif;

  --font-weight-1: 400;
  --font-weight-2: 600;

  --text-1: 72px;
  --text-2: 60px;
  --text-3: 36px;
  --text-4: 30px;
  --text-5: 24px;
  --text-6: 22px;
  --text-7: 20px;
  --text-8: 18px;
  --text-9: 16px;

  --color-deep-blue-500: #1d3557;

  --color-light-blue-500: #6c92c7;
  --color-light-blue-300: #e7f1ff;
  --color-light-blue-200: #f1f7ff;
  --color-light-blue-100: #f7fbff;

  --color-brand-orange-500: #f4a261;

  --color-off-white: #f8f8f8;

  --color-dark-1: #000000;
  --color-dark-2: #3f3f3f;
  --color-dark-3: #8d8d8d;

  --color-light-1: #ffffff;
  --color-light-2: #f8f8f8;

  --radius-card: 16px;
}

.link-underline {
  position: relative;
  display: inline-block;
}

.link-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 2px;
  width: 0%;
  background: var(--color-brand-orange-500);
  transition: width 0.3s ease;
}

.link-underline:hover::after {
  width: 100%;
}

.gradient-blue-text {
  background: var(--gradient-blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-blue-bg {
  background: var(--gradient-blue);
}

/* Primary Button */
.button-primary__border {
  background: var(--gradient-blue);
}
.button-primary__border:hover {
  background: var(--color-brand-orange-500);
}
.button-primary__text {
  background: var(--gradient-blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.button-primary__border:hover .button-primary__text {
  background: white;
  -webkit-text-fill-color: var(--color-brand-orange-500);
}
.button-primary__arrow {
  position: relative;
  left: 0;
  transition: left 150ms;
}
.button-primary__border:hover .button-primary__arrow {
  stroke: var(--color-brand-orange-500);
  left: 3px;
}
.button-primary__arrow {
  stroke: var(--color-deep-blue-500);
}

@layer components {
  /* .heading-1 {
    @apply text-1 
  }
  .heading-2 {
    @apply text-2
  }
  .heading-3 {
    @apply text-3
  }
  .heading-4 {
    @apply text-4
  }
  .heading-5 {
    @apply text-5
  } */

  .text-h1 {
    @apply text-1 leading-[120%];
  }
  .text-h2 {
    @apply text-2 leading-[120%];
  }
  .text-h3 {
    @apply text-3 leading-[120%];
  }
  .text-h4 {
    @apply text-4 leading-[120%];
  }
  .text-h5 {
    @apply text-5 leading-[120%];
  }
  .text-h6 {
    @apply text-6 leading-[120%];
  }
  .text-h7 {
    @apply text-7 leading-[120%];
  }
  .text-h8 {
    @apply text-8 leading-[120%];
  }
  .text-h9 {
    @apply text-9 leading-[120%];
  }

  .text-link {
    @apply text-xl;
  }
}
