@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@import "./text-components.css";
@import "./buttons.css";

:root {
  --gradient-blue: linear-gradient(to bottom, #6c92c7, #1d3557);
  --gradient-white: linear-gradient(to right, #ffffff, #f8f8f8);
}

html {
  background-image: var(--gradient-white);
  background-attachment: fixed;
}

@theme {
  --font-montserrat: "Montserrat", sans-serif;
  --font-inter: "Inter", sans-serif;

  --font-heading: var(--font-montserrat);
  --font-body: var(--font-inter);

  --font-weight-1: 300;
  --font-weight-2: 600;

  --color-deep-blue-500: #1d3557;

  --color-light-blue-500: #6c92c7;
  --color-light-blue-400: #a6bce3;
  --color-light-blue-300: #e7f1ff;
  --color-light-blue-200: #f1f7ff;
  --color-light-blue-100: #f7fbff;

  --color-brand-orange-500: #f4a261;

  --color-primary: var(--color-deep-blue-500);
  --color-secondary: #ffffff;
  --color-accent: var(--color-brand-orange-500);

  --color-off-white: #f8f8f8;

  --color-dark-1: #000000;
  --color-dark-2: #3f3f3f;
  --color-dark-3: #8d8d8d;

  --color-light-1: #ffffff;
  --color-light-2: #f8f8f8;

  --radius-card: 16px;
}

:focus {
  outline: none;
}

:focus-visible {
  outline-style: solid;
  outline-color: var(--color-accent);
  outline-offset: 8px;
}

.gradient-blue-text {
  background: var(--gradient-blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-blue-bg {
  background: var(--gradient-blue);
}
