---
import Layout from "@/layouts/Layout.astro";
import { Header } from "@/components/ui";
import {
  HeroSection,
  ServicesSection,
  TestimonialsSection,
  OurWorkSection,
  PricingSection,
  FaqSection,
} from "@/components/Home";
---

<Layout>
  <Header />
  <HeroSection />
  <ServicesSection />
  <TestimonialsSection />
  <OurWorkSection />
  <PricingSection />
  <FaqSection />
  <section class="h-[2000px]"></section>
</Layout>
