---
import Layout from "@/layouts/Layout.astro";
import { Navbar } from "@/components/ui";
import {
  HeroSection,
  ServicesSection,
  TestimonialsSection,
  OurWorkSection,
} from "@/components/Home";
---

<Layout>
  <Navbar />
  <HeroSection />
  <ServicesSection />
  <TestimonialsSection />
  <OurWorkSection />
  <section class="h-[2000px]"></section>
</Layout>
