---
import { Content, ButtonPrimary } from "../ui";
import {
  BackgroundRectangles,
  AnimatedHeroLogo,
  BackgroundMountainParallax,
} from "../decorative";
---

<section class="py-64 relative overflow-clip">
  <BackgroundRectangles client:load className="z-20" />
  <BackgroundMountainParallax client:load />
  <AnimatedHeroLogo
    client:load
    className="z-10 right-[70px] -top-[70px] opacity-90"
  />
  <Content>
    <div class="relative flex flex-col gap-8 z-50">
      <h1 class="font-2 font-montserrat text-h1">
        Custom Websites<br />For <span class="gradient-blue-text"
          >Small Businesses</span
        >
      </h1>
      <p class="text-xl font-montserrat">
        We make modern, performant websites <br />to elevate your online
        presence.
      </p>
      <ButtonPrimary className="self-start">
        Let's Build Your Website
      </ButtonPrimary>
    </div>
  </Content>
</section>
