---
import { Content } from "../ui";
---

<section class="py-64">
  <Content>
    <h1 class="font-2 font-montserrat text-h1">
      Custom Websites<br />For <span class="gradient-blue-text"
        >Small Businesses</span
      >
    </h1>
  </Content>
</section>
