---
import { Content, LinkPrimary } from "../ui";
import { HeroBackground } from "../decorative";
import { motion } from "motion/react";
---

<section class="py-48 2xl:py-64 relative overflow-clip">
  <HeroBackground client:load />
  <Content>
    <motion.div
      initial={{
        opacity: 0,
        y: 40,
      }}
      animate={{ opacity: 1, y: 0 }}
      transition={{ duration: 0.2, delay: 0.1 }}
      className="mx-auto max-w-[1352px] relative flex flex-col gap-10 z-40 items-start"
      client:load
    >
      <h1 class="text-h1 font-2 leading-[105%] text-left">
        <span class="text-dark-2">Fast websites</span>
        <br />
        <span class="italic gradient-blue-text">Modern designs</span>
        <br />
        <span class="brand-underline decoration-accent">Zero headaches</span>
      </h1>
      <p
        class="text-body-md font-light max-w-[400px] md:max-w-[500px] text-dark-2 sm:text-left"
      >
        Everything you need for a professional online presence without the
        stress of managing it.
      </p>

      <LinkPrimary className="sm:self-start" href="/contact" client:load>
        Let's Get Started
      </LinkPrimary>
    </motion.div>
  </Content>
</section>
