---
// Components
import { Content } from "@/components/ui";
import { BackgroundLogo } from "@/components/decorative";
import { Monitor, FileText, Smartphone } from "lucide-react";
import PricingCard from "./PricingCard.astro";
import { AnimateOnInView } from "@/components/decorative";

const pricingPackages = [
  {
    Icon: Monitor,
    name: "Standard Website",
    price: 2000,
    isMonthly: false,
    description:
      "Perfect for growing companies needing a custom site to showcase their brand.",
    features1: [
      "Custom 5-page design",
      "Fully Responsive",
      "SEO-friendly build",
    ],
    features2: ["$50/year for hosting", "$100/year for maintenance"],
    isMostPopular: false,
  },
  {
    Icon: FileText,
    name: "Landing Page",
    price: 1000,
    isMonthly: false,
    description:
      "Ideal for startups, freelancers, and businesses launching campaigns or promoting services.",
    features1: [
      "Custom 5-page design",
      "Fully Responsive",
      "SEO-friendly build",
    ],
    features2: ["$50/year for hosting", "$100/year for maintenance"],
    isMostPopular: false,
  },
  {
    Icon: Smartphone,
    name: "Subscription",
    price: 150,
    isMonthly: true,
    description:
      "Perfect for growing companies needing a custom site to showcase their brand.",
    features1: [
      "Custom 5-page design",
      "Fully Responsive",
      "SEO-friendly build",
    ],
    features2: ["Hosting & Maintenance Included", "Unlimited Content Updates"],
    isMostPopular: true,
  },
];
---

<section class="py-24 relative overflow-clip">
  <div class="sticky top-0">
    <div class="absolute right-32 top-32">
      <BackgroundLogo className="top-0" client:load />
    </div>
  </div>
  <Content>
    <div class="flex flex-col gap-12">
      <div class="flex flex-col gap-2">
        <h2 class="text-h4 font-montserrat font-2 text-dark-2">Pricing</h2>
        <p class="text-h2 font-montserrat font-2 text-dark-1">Our Packages</p>
      </div>
      <ul class="flex justify-center flex-col xl:flex-row gap-4">
        {
          pricingPackages.map((pricingPackage, index) => {
            return (
              <li class="w-fit">
                <AnimateOnInView
                  delay={0.1 * index}
                  className="w-fit"
                  client:load
                >
                  <PricingCard {...pricingPackage} />
                </AnimateOnInView>
              </li>
            );
          })
        }
      </ul>
    </div>
  </Content>
</section>
