---
// Components
import { Footer, Header } from "@/components/layout";

// Styles
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Summit Avenue Web Solutions</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    min-width: 380px;
    height: 100%;
    width: 100%;
    margin: 0;
  }
</style>
