---
// Components
import { Footer, Header } from "@/components/layout";
import { Favicon, Seo, ThemeMeta } from "@/components/common";
import type { SeoMeta } from "@/data/seo";

// Styles
import "../styles/global.css";

const { seo } = Astro.props as { seo: SeoMeta };
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <Favicon />
    <Seo {...seo} />
    <ThemeMeta color="#e7f1ff" />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    min-width: 380px;
    height: 100%;
    width: 100%;
    margin: 0;
  }
</style>
