---
// Components
import Image from "astro/components/Image.astro";
import Content from "./Content";

// Types
import type { Link } from "@/data/links";

// Images
import logoFull from "@/assets/images/logos/summit-avenue-logo-full.png";

// Data
import { LINKS } from "@/data/links";
---

<header class="py-8 absolute top-0 left-0 right-0 z-50">
  <Content>
    <nav class="flex justify-between">
      <Image
        src={logoFull}
        alt="Summit Avenue Web Solutions logo"
        class="h-10 sm:h-12 w-auto"
        loading={"eager"}
      />
      <ul class="gap-8 hidden md:flex">
        {
          LINKS.map((link: Link) => {
            return (
              <li class="rounded-full">
                <a
                  class="font-montserrat text-link text-dark-1 link-underline rounded-full"
                  href={link.href}
                >
                  {link.display}
                </a>
              </li>
            );
          })
        }
      </ul>
    </nav>
  </Content>
</header>
